<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CoreRDmnKeywordMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CoreRDmnKeyword" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DmnID" property="dmnid" jdbcType="VARCHAR" />
    <result column="Keyword" property="keyword" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_R_Dmn_Keyword
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CoreRDmnKeyword" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into core_R_Dmn_Keyword (DmnID, Keyword)
    values (#{dmnid,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CoreRDmnKeyword" >
    update core_R_Dmn_Keyword
    set DmnID = #{dmnid,jdbcType=VARCHAR},
      Keyword = #{keyword,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, DmnID, Keyword
    from core_R_Dmn_Keyword
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, DmnID, Keyword
    from core_R_Dmn_Keyword
  </select>
</mapper>