<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CoreAuthoryearflagMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CoreAuthoryearflag" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AutID" property="autid" jdbcType="VARCHAR" />
    <result column="dr_AutName" property="drAutname" jdbcType="VARCHAR" />
    <result column="YearID" property="yearid" jdbcType="INTEGER" />
    <result column="Flag" property="flag" jdbcType="SMALLINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_AuthorYearFlag
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CoreAuthoryearflag" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into core_AuthorYearFlag (AutID, dr_AutName, YearID, 
      Flag)
    values (#{autid,jdbcType=VARCHAR}, #{drAutname,jdbcType=VARCHAR}, #{yearid,jdbcType=INTEGER}, 
      #{flag,jdbcType=SMALLINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CoreAuthoryearflag" >
    update core_AuthorYearFlag
    set AutID = #{autid,jdbcType=VARCHAR},
      dr_AutName = #{drAutname,jdbcType=VARCHAR},
      YearID = #{yearid,jdbcType=INTEGER},
      Flag = #{flag,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, AutID, dr_AutName, YearID, Flag
    from core_AuthorYearFlag
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, AutID, dr_AutName, YearID, Flag
    from core_AuthorYearFlag
  </select>
</mapper>