<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CorePubcategoryMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CorePubcategory" >
    <id column="PcgID" property="pcgid" jdbcType="VARCHAR" />
    <result column="CgfID" property="cgfid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_PubCategory
    where PcgID = #{pcgid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CorePubcategory" >
    insert into core_PubCategory (PcgID, CgfID, Name
      )
    values (#{pcgid,jdbcType=VARCHAR}, #{cgfid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CorePubcategory" >
    update core_PubCategory
    set CgfID = #{cgfid,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR}
    where PcgID = #{pcgid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PcgID, CgfID, Name
    from core_PubCategory
    where PcgID = #{pcgid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PcgID, CgfID, Name
    from core_PubCategory
  </select>
</mapper>