<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CoreAuthorMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CoreAuthor" >
    <id column="AutID" property="autid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ImgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="dr_curOrgName" property="drCurorgname" jdbcType="VARCHAR" />
    <result column="dr_curOrgID" property="drCurorgid" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="PortalUrl" property="portalurl" jdbcType="VARCHAR" />
    <result column="PaperListUrl" property="paperlisturl" jdbcType="VARCHAR" />
    <result column="InsTime" property="instime" jdbcType="TIMESTAMP" />
    <result column="UpdTime" property="updtime" jdbcType="TIMESTAMP" />
    <result column="ElsAutID" property="elsautid" jdbcType="VARCHAR" />
    <result column="ElsOrgID" property="elsorgid" jdbcType="VARCHAR" />
    <result column="Flag" property="flag" jdbcType="SMALLINT" />
    <result column="Pic" property="pic" jdbcType="SMALLINT" />
    <result column="dr_CitedCnt" property="drCitedcnt" jdbcType="BIGINT" />
    <result column="CitedCnt_UpdTime" property="citedcntUpdtime" jdbcType="TIMESTAMP" />
    <result column="dr_PaperCnt" property="drPapercnt" jdbcType="BIGINT" />
    <result column="PaperCnt_UpdTime" property="papercntUpdtime" jdbcType="TIMESTAMP" />
    <result column="dr_FirstAutCnt" property="drFirstautcnt" jdbcType="BIGINT" />
    <result column="FirstAutCnt_UpdTime" property="firstautcntUpdtime" jdbcType="TIMESTAMP" />
    <result column="dr_CorrpAutCnt" property="drCorrpautcnt" jdbcType="BIGINT" />
    <result column="CorrpAutCnt_UpdTime" property="corrpautcntUpdtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_Author
    where AutID = #{autid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CoreAuthor" >
    insert into core_Author (AutID, Name, ImgUrl, 
      dr_curOrgName, dr_curOrgID, Address, 
      Email, PortalUrl, PaperListUrl, 
      InsTime, UpdTime, ElsAutID, 
      ElsOrgID, Flag, Pic, 
      dr_CitedCnt, CitedCnt_UpdTime, dr_PaperCnt, 
      PaperCnt_UpdTime, dr_FirstAutCnt, FirstAutCnt_UpdTime, 
      dr_CorrpAutCnt, CorrpAutCnt_UpdTime)
    values (#{autid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{drCurorgname,jdbcType=VARCHAR}, #{drCurorgid,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{portalurl,jdbcType=VARCHAR}, #{paperlisturl,jdbcType=VARCHAR}, 
      #{instime,jdbcType=TIMESTAMP}, #{updtime,jdbcType=TIMESTAMP}, #{elsautid,jdbcType=VARCHAR}, 
      #{elsorgid,jdbcType=VARCHAR}, #{flag,jdbcType=SMALLINT}, #{pic,jdbcType=SMALLINT}, 
      #{drCitedcnt,jdbcType=BIGINT}, #{citedcntUpdtime,jdbcType=TIMESTAMP}, #{drPapercnt,jdbcType=BIGINT}, 
      #{papercntUpdtime,jdbcType=TIMESTAMP}, #{drFirstautcnt,jdbcType=BIGINT}, #{firstautcntUpdtime,jdbcType=TIMESTAMP}, 
      #{drCorrpautcnt,jdbcType=BIGINT}, #{corrpautcntUpdtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CoreAuthor" >
    update core_Author
    set Name = #{name,jdbcType=VARCHAR},
      ImgUrl = #{imgurl,jdbcType=VARCHAR},
      dr_curOrgName = #{drCurorgname,jdbcType=VARCHAR},
      dr_curOrgID = #{drCurorgid,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      PortalUrl = #{portalurl,jdbcType=VARCHAR},
      PaperListUrl = #{paperlisturl,jdbcType=VARCHAR},
      InsTime = #{instime,jdbcType=TIMESTAMP},
      UpdTime = #{updtime,jdbcType=TIMESTAMP},
      ElsAutID = #{elsautid,jdbcType=VARCHAR},
      ElsOrgID = #{elsorgid,jdbcType=VARCHAR},
      Flag = #{flag,jdbcType=SMALLINT},
      Pic = #{pic,jdbcType=SMALLINT},
      dr_CitedCnt = #{drCitedcnt,jdbcType=BIGINT},
      CitedCnt_UpdTime = #{citedcntUpdtime,jdbcType=TIMESTAMP},
      dr_PaperCnt = #{drPapercnt,jdbcType=BIGINT},
      PaperCnt_UpdTime = #{papercntUpdtime,jdbcType=TIMESTAMP},
      dr_FirstAutCnt = #{drFirstautcnt,jdbcType=BIGINT},
      FirstAutCnt_UpdTime = #{firstautcntUpdtime,jdbcType=TIMESTAMP},
      dr_CorrpAutCnt = #{drCorrpautcnt,jdbcType=BIGINT},
      CorrpAutCnt_UpdTime = #{corrpautcntUpdtime,jdbcType=TIMESTAMP}
    where AutID = #{autid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select AutID, Name, ImgUrl, dr_curOrgName, dr_curOrgID, Address, Email, PortalUrl, 
    PaperListUrl, InsTime, UpdTime, ElsAutID, ElsOrgID, Flag, Pic, dr_CitedCnt, CitedCnt_UpdTime, 
    dr_PaperCnt, PaperCnt_UpdTime, dr_FirstAutCnt, FirstAutCnt_UpdTime, dr_CorrpAutCnt, 
    CorrpAutCnt_UpdTime
    from core_Author
    where AutID = #{autid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select AutID, Name, ImgUrl, dr_curOrgName, dr_curOrgID, Address, Email, PortalUrl, 
    PaperListUrl, InsTime, UpdTime, ElsAutID, ElsOrgID, Flag, Pic, dr_CitedCnt, CitedCnt_UpdTime, 
    dr_PaperCnt, PaperCnt_UpdTime, dr_FirstAutCnt, FirstAutCnt_UpdTime, dr_CorrpAutCnt, 
    CorrpAutCnt_UpdTime
    from core_Author
  </select>

  <select id="selectAuthorInfoByPrimaryKey" resultType="com.scholar.entity.CoreAuthor" parameterType="java.lang.String" >
     select ca.AutID, ca.Name, ca.ImgUrl, ca.Address, ca.Email, ca.PortalUrl,
    ca.PaperListUrl, ca.InsTime, ca.UpdTime, ca.ElsAutID, ca.ElsOrgID, ca.Flag, ca.Pic, ca.CitedCnt_UpdTime,
    ca.PaperCnt_UpdTime, ca.FirstAutCnt_UpdTime,ca.CorrpAutCnt_UpdTime,
		co.`Name` company,co.CnyID country
    from core_Author ca
		LEFT JOIN core_R_Aut_Org crao on ca.AutID=crao.AutID
		LEFT JOIN core_Organization co on crao.OrgID=co.OrgID
    where ca.AutID = #{0}
  </select>


  <select id="getAuthorJifsList" resultType="java.util.HashMap" parameterType="java.lang.String" >
    SELECT count(cp.PubID) num,cpubl.name name ,IFNULL(mm.IFactor,0) jif
    FROM
    core_R_Pap_Aut_Org crpao
    LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
    LEFT JOIN core_Publication cpubl on cpubl.PubID = cp.PubID
    LEFT JOIN (select MAX(corp.IFactor) IFactor,corp.YearID,corp.PubID from core_PubIF corp GROUP BY corp.YearID,corp.PubID) mm on mm.PubID=cp.PubID
    where crpao.AutID =#{0}
    GROUP BY cp.PubID
    order BY mm.IFactor desc
  </select>

  <select id="getAuthorGraphJif" resultType="java.util.HashMap" parameterType="java.lang.String" >
    SELECT count(cp.PubID) count,cpubl.name name ,IFNULL(mm.IFactor,0) jif
    FROM
    core_R_Pap_Aut_Org crpao
    LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
    LEFT JOIN core_Publication cpubl on cpubl.PubID = cp.PubID
    LEFT JOIN (select MAX(corp.IFactor) IFactor,corp.YearID,corp.PubID from core_PubIF corp GROUP BY corp.YearID,corp.PubID) mm on mm.PubID=cp.PubID
    where crpao.AutID =#{0}
    GROUP BY cp.PubID
    order BY mm.IFactor desc limit 10
  </select>

  <select id="getAuthorGraphPublishedByYear" resultType="java.util.HashMap" parameterType="java.lang.String" >
        SELECT count(cp.PubID) published,cp.YearID year
        FROM
        core_R_Pap_Aut_Org crpao
        LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
        where crpao.AutID =#{0}
        GROUP BY cp.YearID
		ORDER BY cp.YearID
  </select>


  <select id="getAuthorGraphhindexByYear" resultType="java.util.HashMap" parameterType="java.lang.String" >
    SELECT sum(cp.dr_CitedCnt) citedList
    FROM
    core_R_Pap_Aut_Org crpao
    LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
    where crpao.AutID =#{0}
    GROUP BY cp.YearID
	ORDER BY citedList desc
  </select>


  <select id="getAuthorGraphProportionsTop10" resultType="java.util.HashMap" parameterType="java.lang.String" >
    SELECT count(cp.PubID) count,cpubl.name proportions
    FROM
    core_R_Pap_Aut_Org crpao
    LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
    LEFT JOIN core_Publication cpubl on cpubl.PubID = cp.PubID
    where crpao.AutID =#{0}
    GROUP BY cp.PubID
    order BY count desc limit 10
  </select>
  <select id="getAuthorGraphProportionsAll" resultType="java.lang.Integer">
    SELECT count(cp.PubID) count
    FROM
    core_R_Pap_Aut_Org crpao
    LEFT JOIN core_Paper cp on cp.PapID = crpao.PapID
    LEFT JOIN core_Publication cpubl on cpubl.PubID = cp.PubID
    where crpao.AutID =#{0}
  </select>

  <select id="getAuthorPapersCiteAffil" resultType="java.util.HashMap">
    SELECT  crrr.dr_OrgName affiliation,COUNT(1) count
    FROM core_R_Pap_Aut_Org  crpao
    LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
    LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
    where crpao.AutID=#{aid} and crrr.AutRank=1 and crrr.dr_OrgName is not NULL
    GROUP BY crrr.OrgID
    ORDER BY COUNT desc
  </select>

  <select id="getAuthorPapersCiteAffilTop10" resultType="java.util.HashMap">
      SELECT  crrr.dr_OrgName affiliation,COUNT(1) count
      FROM core_R_Pap_Aut_Org  crpao
      LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
      LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
      where crpao.AutID=#{aid} and crrr.AutRank=1 and crrr.dr_OrgName is not NULL
      GROUP BY crrr.OrgID
      ORDER BY COUNT desc limit #{limit};
  </select>

  <select id="getAuthorPapersCiteAffilAll" resultType="java.lang.Integer"  parameterType="java.lang.String" >
    SELECT  COUNT(1) count
    FROM core_R_Pap_Aut_Org  crpao
    LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
    LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
    where crpao.AutID=#{0} and crrr.AutRank=1 and crrr.dr_OrgName is not NULL
  </select>

  <select id="getAuthorPapersCiteCountry" resultType="java.util.HashMap">
        SELECT  co.CnyID country,COUNT(co.CnyID) count
        FROM core_R_Pap_Aut_Org  crpao
        LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
        LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
        LEFT JOIN core_Organization co on crrr.OrgID = co.OrgID
        where crpao.AutID=#{aid} and crrr.AutRank=1  and co.CnyID is not null
        GROUP BY co.CnyID
        ORDER BY count desc
  </select>

  <select id="getAuthorPapersCiteCountryTop10" resultType="java.util.HashMap">
    SELECT  co.CnyID country,COUNT(co.CnyID) count
    FROM core_R_Pap_Aut_Org  crpao
    LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
    LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
    LEFT JOIN core_Organization co on crrr.OrgID = co.OrgID
    where crpao.AutID=#{aid} and crrr.AutRank=1  and co.CnyID is not null
    GROUP BY co.CnyID
    ORDER BY count desc limit #{limit};
  </select>

  <select id="getAuthorPapersCiteCountryAll" resultType="java.lang.Integer"  parameterType="java.lang.String" >
    SELECT  COUNT(co.CnyID) count
    FROM core_R_Pap_Aut_Org  crpao
    LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
    LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
    LEFT JOIN core_Organization co on crrr.OrgID = co.OrgID
    where crpao.AutID=#{aid} and crrr.AutRank=1  and co.CnyID is not null
  </select>

  <select id="getAuthorPapersCiteJournal" resultType="java.util.HashMap">
    SELECT  COUNT(1) count ,kk.`Name` journal,kk.IFactor jif
        FROM core_R_Pap_Aut_Org  crpao
        LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
        LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
        LEFT JOIN core_Paper cp on  cp.PapID=crpr.CitingPapID
        LEFT JOIN (SELECT cpu.PubID,cpif.IFactor,cpu.`Name` from core_PubIF cpif ,core_Publication cpu where cpu.PubID = cpif.PubID
        and cpif.YearID=2014) kk on kk.PubID = cp.PubID
        where crpao.AutID=#{aid} and crrr.AutRank=1 and kk.IFactor is not null
        GROUP BY kk.`Name`,kk.IFactor
        ORDER BY count desc
  </select>

  <select id="getAuthorPapersCiteJournalTop10" resultType="java.util.HashMap">
    SELECT  COUNT(1) count ,kk.`Name` journal,kk.IFactor jif
    FROM core_R_Pap_Aut_Org  crpao
    LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
    LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
    LEFT JOIN core_Paper cp on  cp.PapID=crpr.CitingPapID
    LEFT JOIN (SELECT cpu.PubID,cpif.IFactor,cpu.`Name` from core_PubIF cpif ,core_Publication cpu where cpu.PubID = cpif.PubID
    and cpif.YearID=2014) kk on kk.PubID = cp.PubID
    where crpao.AutID=#{aid} and crrr.AutRank=1 and kk.IFactor is not null
    GROUP BY kk.`Name`,kk.IFactor
    ORDER BY count desc limit #{limit};
  </select>
  <select id="getAuthorPapersCiteJournalAll" resultType="java.util.HashMap"  parameterType="java.lang.String" >
    SELECT  COUNT(1) count,sum(kk.IFactor) jif
        FROM core_R_Pap_Aut_Org  crpao
        LEFT JOIN core_R_Paper_Ref crpr ON crpao.PapID=crpr.CitedPapID
        LEFT JOIN core_R_Pap_Aut_Org crrr on crrr.PapID=crpr.CitingPapID
        LEFT JOIN core_Paper cp on  cp.PapID=crpr.CitingPapID
        LEFT JOIN (SELECT cpu.PubID,cpif.IFactor,cpu.`Name` from core_PubIF cpif ,core_Publication cpu where cpu.PubID = cpif.PubID
        and cpif.YearID=2014) kk on kk.PubID = cp.PubID
        where crpao.AutID=#{aid} and crrr.AutRank=1 and kk.IFactor is not null
  </select>
</mapper>