<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CoreCategoryfamilyMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CoreCategoryfamily" >
    <id column="CgfID" property="cgfid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_CategoryFamily
    where CgfID = #{cgfid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CoreCategoryfamily" >
    insert into core_CategoryFamily (CgfID, Name)
    values (#{cgfid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CoreCategoryfamily" >
    update core_CategoryFamily
    set Name = #{name,jdbcType=VARCHAR}
    where CgfID = #{cgfid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select CgfID, Name
    from core_CategoryFamily
    where CgfID = #{cgfid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CgfID, Name
    from core_CategoryFamily
  </select>
</mapper>