<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.CoreDomainMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.CoreDomain" >
    <id column="DmnID" property="dmnid" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="ZhnName" property="zhnname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from core_Domain
    where DmnID = #{dmnid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.CoreDomain" >
    insert into core_Domain (DmnID, Name, ZhnName
      )
    values (#{dmnid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{zhnname,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.CoreDomain" >
    update core_Domain
    set Name = #{name,jdbcType=VARCHAR},
      ZhnName = #{zhnname,jdbcType=VARCHAR}
    where DmnID = #{dmnid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DmnID, Name, ZhnName
    from core_Domain
    where DmnID = #{dmnid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DmnID, Name, ZhnName
    from core_Domain
  </select>
</mapper>