<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scholar.mapper.ImpactLindexDetailMapper" >
  <resultMap id="BaseResultMap" type="com.scholar.entity.ImpactLindexDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="L-index" property="lIndex" jdbcType="INTEGER" />
    <result column="L-sequence" property="lSequence" jdbcType="LONGVARCHAR" />
    <result column="citations" property="citations" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from impact_lindex_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scholar.entity.ImpactLindexDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into impact_lindex_detail (aid, L-index, L-sequence, 
      citations)
    values (#{aid,jdbcType=INTEGER}, #{lIndex,jdbcType=INTEGER}, #{lSequence,jdbcType=LONGVARCHAR}, 
      #{citations,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.scholar.entity.ImpactLindexDetail" >
    update impact_lindex_detail
    set aid = #{aid,jdbcType=INTEGER},
      L-index = #{lIndex,jdbcType=INTEGER},
      L-sequence = #{lSequence,jdbcType=LONGVARCHAR},
      citations = #{citations,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, aid, L-index, L-sequence, citations
    from impact_lindex_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, aid, `L-index`, `L-sequence`, citations
    from impact_lindex_detail
  </select>
  <select id="selectAllbyAid" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
    select id, aid, `L-index`, `L-sequence`, citations
    from impact_lindex_detail
     where aid = #{0}
  </select>
</mapper>